 Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
matches = pd.read_csv('matches.csv')

In [4]:
deliveries = pd.read_csv('deliveries.csv')

In [5]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [4]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
deliveries['total_runs'].unique()

array([ 0,  4,  2,  1,  6,  3,  5,  7, 10,  8], dtype=int64)

In [22]:
run_1 = deliveries[deliveries['total_runs'] == 1]
bowler_1 = run_1.groupby('bowler').aggregate('count')
max_1 = bowler_1['match_id'].max()
bowler_1_max = bowler_1['match_id'] == max_1
bowler_1[bowler_1_max == True]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
bowler,,,,,,,,,,,,,,,,,,,,
Harbhajan Singh,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,1549,7,7,7

In [23]:
run_2 = deliveries[deliveries['total_runs'] == 2]
bowler_2 = run_2.groupby('bowler').aggregate('count')
max_2 = bowler_2['match_id'].max()
bowler_2_max = bowler_2['match_id'] == max_2
bowler_2[bowler_2_max == True]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
bowler,,,,,,,,,,,,,,,,,,,,
DJ Bravo,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,0,0,0

In [24]:
run_3 = deliveries[deliveries['total_runs'] == 3]
bowler_3 = run_3.groupby('bowler').aggregate('count')
max_3 = bowler_3['match_id'].max()
bowler_3_max = bowler_3['match_id'] == max_3
bowler_3[bowler_3_max == True]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
bowler,,,,,,,,,,,,,,,,,,,,
P Kumar,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0

In [25]:
run_4 = deliveries[deliveries['total_runs'] == 4]
bowler_4 = run_4.groupby('bowler').aggregate('count')
max_4 = bowler_4['match_id'].max()
bowler_4_max = bowler_4['match_id'] == max_4
bowler_4[bowler_4_max == True]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
bowler,,,,,,,,,,,,,,,,,,,,
UT Yadav,389,389,389,389,389,389,389,389,389,389,389,389,389,389,389,389,389,0,0,0

In [26]:
run_6 = deliveries[deliveries['total_runs'] == 6]
bowler_6 = run_6.groupby('bowler').aggregate('count')
max_6 = bowler_6['match_id'].max()
bowler_6_max = bowler_6['match_id'] == max_6
bowler_6[bowler_6_max == True]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
bowler,,,,,,,,,,,,,,,,,,,,
PP Chawla,171,171,171,171,171,171,171,171,171,171,171,171,171,171,171,171,171,0,0,0

ANSWER - for 1's = HARBHAJAN SINGH
         for 2's = DJ BRAVO
         for 3's = P KUMAR
         for 4's = UT YADAV
         for 6's = PP CHAWLA